/* Add custom css styles here */
.header {
    position: relative;
}
#headerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(60, 60, 60, 0.8);
    color: white;
    padding: 2rem;
    border-radius: 1rem;
}